<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Signin</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <div class="welcome-message">
      <h1>Welcome to the task management system!</h1>
      <p>We're excited to have you on board. To get started, please login or signup for new account.</p>
    </div>
  </main>

</body>
</html>